@model List<Teacher>
@{
    ViewData["Title"] = "Index";
}


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>our teachers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a asp-action="detail" asp-route-id="@item.Id"><img src="~/assets/img/teacher/@item.Img" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h2>
                            <h4>@item.Position</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
         
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(ViewBag.SelectedPage==1?"disabled":"")">
                    <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.SelectedPage==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                }

                <li class="page-item @(ViewBag.SelectedPage==ViewBag.TotalPage?"disabled":"")">
                    <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Teacher End -->
